<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- id:메서드명, parameterType: 매개변수, resultType:리턴타입 (기본값이 List) -->
<mapper namespace="com.goodee.mvcboard.mapper.BoardMapper">

	<update id="updateBoard" parameterType="com.goodee.mvcboard.vo.Board">
		UPDATE board
		SET local_name = #{localName}, board_title = #{boardTitle}, board_content = #{boardContent}, updatedate = NOW()
		WHERE board_no = #{boardNo}
		AND member_id = #{memberId}
	</update>

	<delete id="deleteBoard" parameterType="com.goodee.mvcboard.vo.BoardFile">
		DELETE FROM board 
		WHERE board_no = #{boardNo}
	</delete>

	<insert id="insertBoard" parameterType="com.goodee.mvcboard.vo.Board">
		<!-- insert문이 실행후에 추가된 키값 반환 -->
		<selectKey order="AFTER" keyProperty="boardNo" resultType="int">
			SELECT last_insert_id();
		</selectKey>
		INSERT INTO board 
			(local_name, board_title, board_content, member_id, createdate, updatedate)
		VALUES(#{localName}, #{boardTitle}, #{boardContent}, #{memberId}, NOW(), NOW())
	</insert>

	<select id="selectBoardOne" parameterType="com.goodee.mvcboard.vo.Board" resultType="com.goodee.mvcboard.vo.Board">
		SELECT board_no boardNo, local_name localName, board_title boardTitle, board_content boardContent, member_id memberId, createdate, updatedate
		FROM board
		WHERE board_no = #{boardNo}
	</select>

	<select id="selectLocalNameList" 
			resultType="java.util.Map">
		SELECT local_name localName, count(*) cnt
		FROM board
		GROUP BY local_name
	</select>
	
	<select id="selectBoardListByPage"
			parameterType="java.util.Map"
			resultType="com.goodee.mvcboard.vo.Board">
		SELECT 
			board_no boardNo,
			local_name localName,
			board_title boardTitle,
			member_id memberId,
			createdate
		FROM board
		<where>
		<!-- 동적쿼리태그 -->
			<if test="localName != null">
				local_name = #{localName}
			</if>
		</where>
		ORDER BY createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
</mapper>
